body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(0, 0, 0);
}

h1{
    color: rgb(114, 51, 231);
    font-size: 42px;
}



/* Class Selector */
.red{
    background-color: rgb(142, 51, 51);
    font-size: 50px;
}

.grenn{
    background-color: rgb(51, 142, 51);
    font-size: 50px;
}

.Garis-bawah{
    font-style: italic;
    text-decoration: underline;
    font-size: 50px;
    color: rgb(222, 166, 166);
} 

.anjy{
    font-size: 30px;
    color: rgb(0, 255, 174);
    background-color: rgb(0, 0, 0);
}

/* ID Selector */
.huruf-besar{
    text-transform : uppercase;
   border: 10px solid;
   color: rgb(255, 255, 255);
}
